<html>
    <head>
        <style>
            a:hover{
              text-decoration: none;
            }
            body{
              background-color: black;
            }
            form{
              margin-top: 10%;
            }
            label{
              color: darkgoldenrod;
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              font-size: 30px;
            }
            input{
              height: 5%;
              width: 20%;
            }
        </style>
    </head>
    <body>
        {% include 'nav2.html' %}
        {% block nav %}
        {% endblock %}
        <center>
        <h2 style="color: darksalmon;">{{msg}}</h2>
        <form method="POST" action="/getotp/">
          {% csrf_token %}
          <input type="text" name="otp" placeholder="Enter Your OTP">
          <input type="submit" value="Submit">
        </form>
        </center>
    </div>
    </body>
</html>